


body .black {
   text-align: center;
   background: black;
   border-style: solid;
   border-color: grey;
}

.black .image {
    width: 100%;
    height: 320px;
}

.quest {
    background: url(../images/team.jpg);
    background-position: 50% 0%;    
    padding: 100px 0px 100px 0px
}

.quest h1 {
    color: white;
}

.quest p {
    font-size: 18px;
    color: white;
    margin: 0px 0px 0px 0px; 
}

.quest select {
    margin: 7px 0px 20px 0px; 
    text-align: center;
}

.quest input {
    border-radius: 20px;
    margin: -20px 0px 0px 0px;
}

#output{
    font-size: 50px;
    color: White;
    margin: 20px 0px 20px 0px; 
} 

.output img{
    width: 100%;
}